@font-face {
    font-family: "Nexa";
    src: url("../fonts/NexaLight.otf");
    font-weight: lighter;
}

@font-face {
    font-family: "Awersome";
    src: url("../fonts/fa-solid-900.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Nexa";
    src: url("../fonts/NexaBold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "CastleBegale";
    src: url("../fonts/CastleBegale.ttf");
}

html{
    font-family: "Nexa";
    font-weight: lighter;

    font-size: 20px;
}

body{
    margin:0;
}

.container{
    max-width: 300px;
    margin: 0 auto;
}

.spe-container{
    width: 85%;
    margin: 0px;
}

.centeredcont{
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.centeredmodal{
    /* Center vertically and horizontally */
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: fit-content;
}

.mainroundimg{
    width: 75%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    aspect-ratio : 1 / 1;
}

.flex{
    display: flex;
}

h1{
    font-family: "CastleBegale";
    font-size: 40px;
    text-align: center;
    margin:0;
}

.h1b{
    font-family: "CastleBegale";
    font-size: 40px;
    text-align: center;
    margin:0;
}

h2{
    font-family: "CastleBegale";
    font-size: 30px;
    margin:0;
    margin-bottom: 10px;
}

p{
    margin:0;
}

.mainbutton{
    padding: 10px 15px 5px 15px;
    background-color: #22223B;
    border-radius: 50px;
    border: 1px solid #22223B;
    color: white;
    font-family: "Nexa";
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    

    transition: 0.3s;
}

.mainbutton:hover{
    padding: 10px 15px 5px 15px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #22223B;
    color: #22223B;
    font-family: "Nexa";
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    text-align: center;


    transition: 0.3s;
}

.button{
    padding: 10px 15px 5px 15px;
    background-color: #4A4E69;
    border-radius: 50px;
    color: white;
    font-family: "Nexa";
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border: none;

    transition: 0.3s;
}

.button-help{
    padding: 10px 15px 5px 15px;
    background-color: #fff;
    border: 2px #4A4E69 solid;
    border-radius: 50px;
    color: #4A4E69;
    font-family: "Nexa";
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;

    transition: 0.3s;
}

.button-list{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    width: 100%;
    margin: 50px 0px;
}

.button-list a+a{
    margin-top: 10px;
}

.acccont img{
    display: block;
    margin: auto;
}

.center{
    text-align: center;
}

.mt70{
    margin-top:70px;
}

.mtb70{
    margin:70px auto;
}

.input{
    border: #22223B 1px solid;
    border-radius: 50px;
    padding: 10px 15px 5px 15px;
    width: 25%;
}

#partitioned {
    padding-left: 21px;
    letter-spacing: 29px;
    border: 0;
    font-size: 61px;
    background-image: linear-gradient(to left, black 68%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 71px 1px;
    background-repeat: repeat-x;
    background-position-x: 65px;
    width: 100%;
    min-width: 220px;
  }
  
  #divInner{
    left: 0;
    position: sticky;
  }
  
  #divOuter{
    width: 100%;
    overflow: hidden;

    margin-top: 30px;
  }

  textarea:focus, input:focus{
    outline: none;
}

.modal-body {
    position: relative;
    padding: 34px 32px;
}

.modal-body.conserv {
    position: relative;
    padding: 20px 32px;
}

.fullimg-modal{
    padding: 34px 0px;
}

.spin{
    /* transition: transform .7s ease-in-out;*/
    transition: 1.7s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    aspect-ratio: 1 / 1;
}

.spin:hover {
    transform: rotate(1440deg); /* 360 */
    aspect-ratio: 1 / 1;
}

.conservateur{
    width: 70%;
    margin: 0 auto;
}

.cont-img-conservateur{
    width: 100%;
    display: flex;
}

.audiomedia{
    margin-top: 50px;
    color:white;
}

.audiomedia h3{
    margin: 0;
    text-align: center;
}

.fix-btn{
    margin-bottom: 50px;
}

.extrait{
    width: 100%;
    margin: 20px 0px;
}

.zoom-img{
    width: 100%;
}

.panel-default > .reponse{
    background-color: #22223B !important;
}

.block-cont + .block-cont{
    margin-top: 80px;
    padding-top: 40px;
    border-top: 1px #4A4E69 solid;
}


/* Bootsrap MODIFY */

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px 30px 30px 0px;
}

/*
.panel-group .transcript-h {
    box-shadow: none;
    border: none;
}*/

.centertext{
    text-align: center;
}

/*
.transcript .panel-title{
    text-align: center;
}*/

.panel-group {
    margin: 30px 0px;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #4A4E69;
    border-color: #4A4E69;
    border-radius: 0px 30px 30px 0px;
}

/*
.panel-default > .transcript{
    background: none;
    border: none;
    color: #22223B;
}*/

.panel-group {
    margin-bottom: 50px;
    font-family: "Nexa";
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0px solid #dddddd;
}

a:hover, a:focus {
    text-decoration: none;
}

.panel-title a {
    text-decoration: none;
}

.panel-heading {
    padding: 15px 15px 10px 15px;
}

.panel-title{
    font-family: "CastleBegale";
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 0px solid #e5e5e5;
}

.panel-title a:after {
    font-family: 'Awersome';
    font-weight: lighter;
    content: "\f106";
    float: right;
}

.panel-title .collapsed:after{
    font-family: 'Awersome';
    font-weight: lighter;
    content: "";
    content: "\f107";
    float: right; 
}

.transcript-h{
    border-color: #4A4E69 !important;
}

.wave-section.wave-in .panel.rep{

    border-color: #E2D4B7;
}

/*
.wave-section.wave-in .panel.rep .panel-collapse .panel-body{
    color:#E2D4B7;
}
*/

.lottie-cont{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* VAGUES */

.wave-section{
    padding: 0px 0px 80px 0px;
    position: relative;
}

.wave-section.wave-in{
    background-color: #22223B;
    color: white;
}

.wave-section.wave-in .panel-default > .panel-heading {
    color: black;
    background-color: #fff;
    border-radius: 0px 30px 30px 0px;
}

.wave-section.wave-in .panel-default{
    border-color: transparent;
}

.wave-section.wave-in .reponse{
    background-color: #E2D4B7 !important;
}

.wave-section.wave-in .panel-default{
    background-color: #22223B;
}

.wave-section.wave-in .panel{
    border-color: #fff;
    box-shadow: none;
    border-radius: 0px 30px 30px 0px;
}

.wave-section.wave-in .panel .reponse{
    border-color: #E2D4B7;
}

.wave-section.wave-in #partitioned{
    background-image: linear-gradient(to left, white 68%, rgba(255, 255, 255, 0) 0%);
    background-color: #22223B;
}

.wave-section.wave-in #partitioned::placeholder{
    color:white;
    opacity: 0.4;
}

.wave-section.wave-in .button{
    background-color: #E2D4B7;
    color:#22223B;
}

.wave-section.wave-in .button-help{
    padding: 10px 15px 5px 15px;
    background-color: #22223B;
    border: 2px #E2D4B7 solid;
    border-radius: 50px;
    color: #E2D4B7;
    font-family: "Nexa";
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;

    transition: 0.3s;
}

.first-section{
    margin-top: 80px;
}

.wave-section .wave{
    position: absolute;
    top:0;
    left:0;
    transform: translateY(-100%) scaleY(-1);
    display: none;
}

.wave-section.wave-in .wave{
    display: block;
}

.no-padding{
    padding:0;
}

.full-dark-mode{
    background-color: #22223B;
}

.panel-title a{
    padding: 15px 0 10px 0;
}

.modal-body a{
    color: #22223B;
    font-weight: bold;
}

.panel-body p + p{
    margin-top: 20px;
}

.aud-cont{
    margin-top:50px;
}

.nar{
    opacity: 0.8;
}

.panel-group.accord-bibli {
    margin: 0px;
}

.h1-bibli{
    margin-bottom: 50px;
}

.modal-body .conservateur{
    width: 38%;
    margin-bottom: 15px;
}

.removed{
    display: none;
}